.container-login {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 8%;
}

.container-sobre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

form {
    border: solid ;
    background-color: rgb(250, 245, 245);
    color: #612168;
    padding: 70px 40px;
    border-radius: 10px;
}

form > h2 {
    text-align: center;
}

.input {
    width: 250px;
    height: 28px;
    border-radius: 5px;
}


.test {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.button {
    text-align: center;
    color: white;
    background-color: #612168;
    height: 40px;
    width: 70px;
    border-radius: 10px;
}

.button:hover {
    background-color: #c1994c;
}